<app-header></app-header>
<div class="container">
  <h2>Heartfulness Registration</h2>
  <div class="alert alert-success alert-dismissible" role="alert" *ngIf="userAddSuccess">
    <strong>Success! </strong> User added successfully.
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #registrationForm="ngForm">
    <div class="form-group">
      <label for="userName">Name</label>
      <input #name="ngModel" required id="userName" name="userName" [(ngModel)]="user.name" class="form-control" placeholder="user name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="userEmail">Email</label>
      <input #email="ngModel" required id="userEmail" name="userEmail" [(ngModel)]="user.email" class="form-control" placeholder="email address">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">Email is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input #phoneNumber="ngModel" required id="phoneNumber" name="userPhoneNumber" [(ngModel)]="user.phoneNumber" class="form-control" placeholder="phone number">
        <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
          <div *ngIf="phoneNumber.errors.required">Email is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="userHfnId">HFN Id</label>
      <input #hfnId="ngModel" required id="userHfnId" name="userHfnId" [(ngModel)]="user.hfnId" class="form-control" placeholder="HFN Id">
      <div *ngIf="hfnId.invalid && (hfnId.dirty || hfnId.touched)" class="alert alert-danger">
          <div *ngIf="hfnId.errors.required">HFN Id is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="userLocation">Location</label>
      <select #location="ngModel" required name="userLocation" class="form-control" id="userLocation"  [(ngModel)]="user.locationId" (change)="onChangeLocation($event)">
        <option value="">-- Select Location --</option>
        <option *ngFor="let loc of locations" [value]="loc.id">
          {{ loc.name }}
        </option>
      </select>
      <div *ngIf="location.invalid && (location.dirty || location.touched)" class="alert alert-danger">
          <div *ngIf="location.errors.required">Location is required.</div>
      </div>
    </div>
    <!-- {{userList|json}} -->
    <button type="button" class="btn btn-success" (click)="onRegister(user)" [disabled]="!registrationForm.valid">Register</button>
    <button type="submit" class="btn btn-warning" (click)="registrationForm.reset();reset();">Reset</button>
    <button type="button" class="btn float-right" (click)="goBackToLogin()">Back</button>
  </form>
</div>
