<app-header></app-header>
<div class="container">
  <h2>Heartfulness Attendance</h2>
  <div class="alert alert-success alert-dismissible" role="alert" *ngIf="attendanceSuccess">
    <strong>Success! </strong> Attendance marked successfully.
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form #loginForm="ngForm">
    <div class="form-group">
      <label for="search-box">Email/HFN Id/Name</label>
      <input #name="ngModel" required name="userName" [(ngModel)]="user.name" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" aria-describedby="emailHelp" placeholder="Enter Email/HFN Id/Name">
      <ul class="search-result" *ngIf="flag">
        <li *ngFor="let user of users$ | async" >
          <a (click)="onSelectUser(user)">
            {{user.name}} | {{user.hfnId}} | {{user.email}}
          </a>
        </li>
      </ul>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">Name is required.</div>
      </div>
      <small id="emailHelp" class="form-text text-muted">We'll never share your details.</small>
    </div>
    <div class="form-group">
        <label for="hfnId">HFN Id</label>
        <input id="hfnId" name="hfnId" [(ngModel)]="user.hfnId" class="form-control" placeholder="HFN Id" readonly  (keyup)="reqHfnId()">
        <div *ngIf="hfnIdRequired" class="alert alert-danger">HFN Id is required.</div>
    </div>
    <div class="form-group">
      <label for="selectLocations">Location</label>
      <select id="selectLocations" name="userLocation" class="form-control" [(ngModel)]="user.locationId" (change)="reqLocation()">
        <option value="-1">-- Select Location --</option>
        <option *ngFor="let loc of locations" [ngValue]="loc.id">
          {{ loc.name }}
        </option>
      </select>
      <div *ngIf="locationRequired" class="alert alert-danger">Location is required.</div>
    </div>
     <!-- {{userList|json}} -->
     <!-- {{userAttendanceList|json}} -->
    <button type="submit" class="btn btn-success" (click)="onConfirm()" [disabled]="!loginForm.valid">Confirm</button>
    <button type="submit" class="btn btn-warning" (click)="loginForm.reset();reset()">Reset</button>
  </form>
</div>
