<div class="container">
  <h2>Locations</h2>
	<table class="table table-striped table-bordered">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let loc of locations">
	      <th scope="row">{{loc.id}}</th>
	      <td>{{loc.name}}</td>
	    </tr>
	   </tbody>
	</table>
</div>