<footer class="bg-light text-dark mt-4">
    <div class="container-fluid py-3">
	    <span class="text-muted">&copy; All rights reserved for <i>Heartfulness</i> 2018</span>
    </div>

</footer>


            	