<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/admin',{outlets: {'app-admin': ['home']}}]">HFN Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/admin',{outlets: {'app-admin': ['userlist']}}]">Users <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/admin',{outlets: {'app-admin': ['userattendance']}}]">Attendances</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/admin',{outlets: {'app-admin': ['locationlist']}}]">Location</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
	  <button class="btn btn-secondary my-2 my-sm-0" (click)="showHomeNavBar=true" type="button" [routerLink]="['/login']">User Home</button>
	</form>
   </div>
</nav>