<div class="container">
  <h2>User Attendance</h2>
	<table class="table table-striped table-bordered">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">User</th>
	      <th scope="col">HFN Id</th>
	      <th scope="col">Location</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let userAtt of userAttendances">
	      <td >{{userAtt.id}}</td>
	      <td>{{userAtt.userName}}</td>
	      <td>{{userAtt.hfnId}}</td>
	      <td>{{userAtt.locationName}}</td>
	    </tr>
	   </tbody>
	</table>
</div>