<div class="container">
  <h2>Users</h2>
	<table class="table table-striped table-bordered">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Email</th>
	      <th scope="col">HFN Id</th>
	      <th scope="col">Location</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let user of users">
	      <th scope="row">{{user.id}}</th>
	      <td>{{user.name}}</td>
	      <td>{{user.email}}</td>
	      <td>{{user.hfnId}}</td>
	      <td>{{user.locationName}}</td>
	    </tr>
	   </tbody>
	</table>
</div>